In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
emp_data = [
(1,'manish',26,20000,'india','IT'),
(2,'rahul',None,40000,'germany','engineering'),
(3,'pawan',12,60000,'india','sales'),
(4,'roshini',44,None,'uk','engineering'),
(5,'raushan',35,70000,'india','sales'),
(6,None,29,200000,'uk','IT'),
(7,'adam',37,65000,'us','IT'),
(8,'chris',16,40000,'us','sales'),
(None,None,None,None,None,None),
(7,'adam',37,65000,'us','IT')
]

schema = ['id', 'name', 'age', 'salary', 'region', 'dept']
emp_df = spark.createDataFrame(data = emp_data, schema=schema)

In [0]:
emp_df.show()

+----+-------+----+------+-------+-----------+
|  id|   name| age|salary| region|       dept|
+----+-------+----+------+-------+-----------+
|   1| manish|  26| 20000|  india|         IT|
|   2|  rahul|null| 40000|germany|engineering|
|   3|  pawan|  12| 60000|  india|      sales|
|   4|roshini|  44|  null|     uk|engineering|
|   5|raushan|  35| 70000|  india|      sales|
|   6|   null|  29|200000|     uk|         IT|
|   7|   adam|  37| 65000|     us|         IT|
|   8|  chris|  16| 40000|     us|      sales|
|null|   null|null|  null|   null|       null|
|   7|   adam|  37| 65000|     us|         IT|
+----+-------+----+------+-------+-----------+

### Count

In [0]:
emp_df.count()

Out[6]: 10

In [0]:
emp_df.select(count("id")).show()

+---------+
|count(id)|
+---------+
|        9|
+---------+

### min max sum

In [0]:
emp_df.select(sum("salary"), max("salary"), min("age")).show()

+-----------+-----------+--------+
|sum(salary)|max(salary)|min(age)|
+-----------+-----------+--------+
|     560000|     200000|      12|
+-----------+-----------+--------+

### avg

In [0]:
emp_df.select(sum("salary"), count("salary"), avg("salary")).show()

+-----------+-------------+-----------+
|sum(salary)|count(salary)|avg(salary)|
+-----------+-------------+-----------+
|     560000|            8|    70000.0|
+-----------+-------------+-----------+

In [0]:
emp_df.select((sum("salary")/count("salary")).alias("avg_salary")).show()

+----------+
|avg_salary|
+----------+
|   70000.0|
+----------+