# Date Transformation

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
employee_df = spark.read.format("csv")\
                .option("header", "true")\
                .option("inferschema", "true")\
                .option("mode", "PERMISSIVE")\
                .load("/FileStore/tables/employee.csv")
employee_df.show()

+---+--------+---+------+------------+---------+
| id|    name|age|salary|     address| nominee\|
+---+--------+---+------+------------+---------+
|  1|  Manish| 26| 75000|       bihar|nominee1\|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2\|
|  3|  Pritam| 22|150000|   Bangalore|    India|
|  4|Prantosh| 17|200000|     Kolkata|    India|
|  5|  Vikash| 31|300000|        null| nominee5|
+---+--------+---+------+------------+---------+

In [0]:
employee_df.createOrReplaceTempView("emp_tbl")

In [0]:
employee_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee\: string (nullable = true)

### Alias

In [0]:
employee_df.select(col("id").alias("employe_id"), "name", "age").show()

+----------+--------+---+
|employe_id|    name|age|
+----------+--------+---+
|         1|  Manish| 26|
|         2|  Nikita| 23|
|         3|  Pritam| 22|
|         4|Prantosh| 17|
|         5|  Vikash| 31|
+----------+--------+---+

### Filter

In [0]:
employee_df.filter(col("salary")>150000).show()

+---+--------+---+------+-------+--------+
| id|    name|age|salary|address|nominee\|
+---+--------+---+------+-------+--------+
|  4|Prantosh| 17|200000|Kolkata|   India|
|  5|  Vikash| 31|300000|   null|nominee5|
+---+--------+---+------+-------+--------+

In [0]:
employee_df.where(col("salary")>150000).show()

+---+--------+---+------+-------+--------+
| id|    name|age|salary|address|nominee\|
+---+--------+---+------+-------+--------+
|  4|Prantosh| 17|200000|Kolkata|   India|
|  5|  Vikash| 31|300000|   null|nominee5|
+---+--------+---+------+-------+--------+

In [0]:
employee_df.filter((col("salary")>150000) & (col("age")<18)).show()

+---+--------+---+------+-------+--------+
| id|    name|age|salary|address|nominee\|
+---+--------+---+------+-------+--------+
|  4|Prantosh| 17|200000|Kolkata|   India|
+---+--------+---+------+-------+--------+

### Literal

In [0]:
employee_df.select("*", lit("kumar").alias("last_name")).show()

+---+--------+---+------+------------+---------+---------+
| id|    name|age|salary|     address| nominee\|last_name|
+---+--------+---+------+------------+---------+---------+
|  1|  Manish| 26| 75000|       bihar|nominee1\|    kumar|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2\|    kumar|
|  3|  Pritam| 22|150000|   Bangalore|    India|    kumar|
|  4|Prantosh| 17|200000|     Kolkata|    India|    kumar|
|  5|  Vikash| 31|300000|        null| nominee5|    kumar|
+---+--------+---+------+------------+---------+---------+

### Add column

In [0]:
employee_df.withColumn("sur_name", lit("singh")).show()

+---+--------+---+------+------------+---------+--------+
| id|    name|age|salary|     address| nominee\|sur_name|
+---+--------+---+------+------------+---------+--------+
|  1|  Manish| 26| 75000|       bihar|nominee1\|   singh|
|  2|  Nikita| 23|100000|uttarpradesh|nominee2\|   singh|
|  3|  Pritam| 22|150000|   Bangalore|    India|   singh|
|  4|Prantosh| 17|200000|     Kolkata|    India|   singh|
|  5|  Vikash| 31|300000|        null| nominee5|   singh|
+---+--------+---+------+------------+---------+--------+

### Renaming Column

In [0]:
employee_df.withColumnRenamed("id", "emp_id").show()

+------+--------+---+------+------------+---------+
|emp_id|    name|age|salary|     address| nominee\|
+------+--------+---+------+------------+---------+
|     1|  Manish| 26| 75000|       bihar|nominee1\|
|     2|  Nikita| 23|100000|uttarpradesh|nominee2\|
|     3|  Pritam| 22|150000|   Bangalore|    India|
|     4|Prantosh| 17|200000|     Kolkata|    India|
|     5|  Vikash| 31|300000|        null| nominee5|
+------+--------+---+------+------------+---------+

### Casting data type

In [0]:
employee_df.withColumn("id", col("id").cast("string")).printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- nominee\: string (nullable = true)

### Delete col

In [0]:
employee_df.drop("id", col("name")).show()

+---+------+------------+---------+
|age|salary|     address| nominee\|
+---+------+------------+---------+
| 26| 75000|       bihar|nominee1\|
| 23|100000|uttarpradesh|nominee2\|
| 22|150000|   Bangalore|    India|
| 17|200000|     Kolkata|    India|
| 31|300000|        null| nominee5|
+---+------+------------+---------+

# Spark SQL

In [0]:
employee_df.createOrReplaceTempView("emp_tbl")

In [0]:
spark.sql("""
          select * from emp_tbl where salary > 150000 and age<18
          """).show()

+---+--------+---+------+-------+--------+
| id|    name|age|salary|address|nominee\|
+---+--------+---+------+-------+--------+
|  4|Prantosh| 17|200000|Kolkata|   India|
+---+--------+---+------+-------+--------+