In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [0]:
data1 = [(1,'manish',50000,'IT'),
(2,'vikash',60000,'sales'),
(3,'raushan',70000,'marketing'),
(4,'mukesh',80000,'IT'),
(5,'pritam',90000,'sales'),
(6,'nikita',45000,'marketing'),
(7,'ragini',55000,'marketing'),
(8,'rakesh',100000,'IT'),
(9,'aditya',65000,'IT'),
(10,'rahul',50000,'marketing')]

schema1 = ['id', 'name', 'salary', 'dept']
emp1_df = spark.createDataFrame(data = data1, schema= schema1)

In [0]:
emp1_df.show()

+---+-------+------+---------+
| id|   name|salary|     dept|
+---+-------+------+---------+
|  1| manish| 50000|       IT|
|  2| vikash| 60000|    sales|
|  3|raushan| 70000|marketing|
|  4| mukesh| 80000|       IT|
|  5| pritam| 90000|    sales|
|  6| nikita| 45000|marketing|
|  7| ragini| 55000|marketing|
|  8| rakesh|100000|       IT|
|  9| aditya| 65000|       IT|
| 10|  rahul| 50000|marketing|
+---+-------+------+---------+

In [0]:
emp1_df.groupBy("dept")\
        .agg(sum("salary")).show()

+---------+-----------+
|     dept|sum(salary)|
+---------+-----------+
|       IT|     295000|
|    sales|     150000|
|marketing|     220000|
+---------+-----------+

In [0]:
data2 = [(1,'manish',50000,'IT','india'),
(2,'vikash',60000,'sales','us'),
(3,'raushan',70000,'marketing','india'),
(4,'mukesh',80000,'IT','us'),
(5,'pritam',90000,'sales','india'),
(6,'nikita',45000,'marketing','us'),
(7,'ragini',55000,'marketing','india'),
(8,'rakesh',100000,'IT','us'),
(9,'aditya',65000,'IT','india'),
(10,'rahul',50000,'marketing','us')]
schema2 = ['id', 'name', 'salary', 'dept', 'region']
emp2_df = spark.createDataFrame(data = data2, schema= schema2)

In [0]:
emp2_df.show()

+---+-------+------+---------+------+
| id|   name|salary|     dept|region|
+---+-------+------+---------+------+
|  1| manish| 50000|       IT| india|
|  2| vikash| 60000|    sales|    us|
|  3|raushan| 70000|marketing| india|
|  4| mukesh| 80000|       IT|    us|
|  5| pritam| 90000|    sales| india|
|  6| nikita| 45000|marketing|    us|
|  7| ragini| 55000|marketing| india|
|  8| rakesh|100000|       IT|    us|
|  9| aditya| 65000|       IT| india|
| 10|  rahul| 50000|marketing|    us|
+---+-------+------+---------+------+

In [0]:
emp2_df.groupBy(col("dept"), col("region"))\
        .agg(sum("salary")).show()

+---------+------+-----------+
|     dept|region|sum(salary)|
+---------+------+-----------+
|       IT| india|     115000|
|    sales|    us|      60000|
|marketing| india|     125000|
|    sales| india|      90000|
|       IT|    us|     180000|
|marketing|    us|      95000|
+---------+------+-----------+

In [0]:
emp2_df.createOrReplaceTempView("emp2_tbl")

In [0]:
spark.sql("""
          select region, dept, sum(salary) from emp2_tbl
          group by region, dept
          """).show()

+------+---------+-----------+
|region|     dept|sum(salary)|
+------+---------+-----------+
| india|       IT|     115000|
|    us|    sales|      60000|
| india|marketing|     125000|
| india|    sales|      90000|
|    us|       IT|     180000|
|    us|marketing|      95000|
+------+---------+-----------+